@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)),url('../img/background.jpg');
  color: var(--black);
}

/* global styles */
.bell-fonts {
  font-family: 'La Belle Aurore', cursive;
}

/* header */
.header {
  height: 100vh;
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width:768px) {
  .header{
    background: url('../img/header-bkg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;   
  }
}

/* banner */

.banner {
  text-align: center;
  z-indes: 3;
}

